body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif; /* Retro font to match the theme */
    background-color: #000000; /* Black background for the entire page */
  }
  
  .aboutpage-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align to the top */
    min-height: 100vh; /* Full height of the viewport */
    background-image: url('/public/images/neon_shapes_background.png'); /* Replace with the correct path */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .about-content-area {
    width: 50%; /* Middle 50% of the page */
    background-color: #111111; /* Darker gray to distinguish from black */
    padding: 20px;
    border: 5px solid #FF1493; /* Neon Pink border */
    box-shadow: 0 0 15px #FF1493; /* Neon Pink glow around the content */
    margin-top: 0; /* Ensure no margin at the top */
    min-height: calc(100vh - 20px); /* Extend content to the bottom, accounting for padding */
  }

  .about-page-content {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .about-page-content h2 {
    color: #FF1493; /* Neon Pink */
    text-shadow: 0 0 5px #FF1493, 0 0 10px #FF1493; /* Neon glow effect */
    margin-bottom: 30px;
    text-align: center;
  }

  .about-page-content h3 {
    color: #fa8cc7; /* Neon Pink */
    text-shadow: 0 0 5px #FF1493, 0 0 10px #FF1493; /* Neon glow effect */
    margin-bottom: 15px;
    text-align: left;
  }
  
  .about-page-content p {
    color: #FFFFFF; /* White text */
    margin-bottom: 10px;
    text-align: left;
  }

  .author-section {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #AAAAAA; /* Light gray text to keep it subtle */
    padding: 10px 0;
  }
  
  .author-section p {
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 768px) {
    .content-area {
      width: 80%; /* Adjust content width for smaller screens */
    }
  }
  