.name-note-page-container {
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: 0;
    padding: 0;
  }

  .name-note-page{
    align-content: center;
    margin-top: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .name-note-page input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .name-note-page button {
    text-decoration: none;
    color: #000000; /* White text */
    padding: 10px 20px;
    display: block;
    background-color: #39FF14;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Orbitron', sans-serif; /* Retro font */
  }
  
  .name-note-page button:hover {
    background-color: #FF1493; /* Neon Pink */
    color: #FFFFFF;
    box-shadow: 0 0 5px #FF1493, 0 0 10px #FF1493; /* Neon glow on hover */
  }
  